[Unit]
Description=Service that automatically updates DNS type A records.
After=network.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/freedns/main.sh -a start
ExecStop=/opt/freedns/main.sh -a stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
